@namespace BlazorLib
<div class="my-component">
    This component is defined in the <strong>BlazorLib</strong> library. BlazorLib Counter: @Counter
</div>
<button @onclick="Increment">Increment</button>